# In-Class Exercises, Session 8

<B>Please note</B> that data files are located in the parent directory.  This means that you must prepend <B>../</B> to each filename to find it.

IMPORTING PANDAS AND NUMPY

<B>8.1:  Import pandas and numpy.  Check the .\_\_version\_\_ attribute of the pandas module.  </B>

In [ ]:
import pandas as pd
import numpy as np

print(pd.__version__)

<B>8.2:  Include some useful settings.  </B>

In [ ]:
import warnings

## Enable multiple outputs from jupyter cells
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

## disable the Pandas "setting a copy of a slice" warning
# pd.options.mode.chained_assignment = None

## set default number of DataFrame rows printed to 8
pd.set_option('display.max_rows', 8)

# suppress excel reader warning:  'extension is unsupported'
warnings.filterwarnings('ignore', category=UserWarning, module='openpyxl')

INITIALIZING A DATAFRAME

<B>8.3:  <U>DataFrame from python struct</U>.  Use this 3x3 list of lists to build a DataFrame using the <B>pd.DataFrame()</B> constructor.  Add a keyword argument <B>columns=[]</B> to the DataFrame to assign column labels, and <B>index=[]</B> to assign row labels.  Refer to the DataFrame to see it.  </B>

In [ ]:
import pandas as pd

# Sample data in the form of a list of lists
data = [
    [1, 2.5, 'apple'],
    [2, 3.0, 'banana'],
    [3, 4.2, 'orange']
]

<B>8.4:  <U>DataFrame from file</U>.  Read <B>../revenue.csv</B> using the <B>pd.read\_csv()</B> function.  Then read <B>../revenue.xlsx</B> using the <B>pd.read\_excel()</B> function.  Print each DataFrame.  </B>

(For excel, choose <B>engine='openpyxl'<B> for <B>.xlsx</B> files.)

In [ ]:
import pandas as pd

fname = '../revenue.csv'
ss_name = '../revenue.xlsx'

QUICK APPRAISAL OF DATAFRAME

<B>8.5:  <U>Get an overview of the DataFrame</U>:</B>

<UL>
  <LI>Print <B>df.shape</B> to see the number of columns and rows</LI>
  <LI>Print the DataFrame and look at the stats listed below it</LI>
</UL>

In [ ]:
import pandas as pd

fname = '../weather_newyork_narrow.csv'

df = pd.read_csv(fname)



df

<B>8.6:  <U>See the head and tail of a DataFrame</U>:</B>

<UL>
  <LI>Use <B>.head()</B> and <B>.tail()</B></LI>
  <LI>Use <B>.columns</B> and <B>.index</B></LI>
</UL>

In [ ]:
import pandas as pd

fname = '../weather_newyork_narrow.csv'

df = pd.read_csv(fname)



df

<B>8.7:  <U>Get another overview on a larger DataFrame</U>:</B>

<UL>
  <LI>Look at <B>.dtypes</B></LI>
  <LI>Look at <B>.info()</B></LI>
</UL>

In [ ]:
import pandas as pd

fname = '../weather_newyork_narrow.csv'

df = pd.read_csv(fname)



df

<B>8.8:  <U>View selected rows by index</U>.  Use <B>.iloc[]</B> with a numeric slice to see the 50th through 53rd rows from this large DataFrame.  </B>

In [ ]:
import pandas as pd

fname = '../weather_newyork_narrow.csv'

df = pd.read_csv(fname)



df

CUSTOMIZING DATA IMPORT

<B>8.9:  <U>Exclude header and footer; set index</U>.  Add keyword arguments to configure the <B>pd.read\_csv()</B> function.  </B>

The <B>revenue\_extended.csv</B> file has 2 header lines (use <B>skiprows=</B>) and 2 footer lines (use <B>skipfooter=</B>).  The column we'd like to use as the index is the <B>'id'</B> column (use <B>index\_col=</B>).

Skipping rows means we must use the 'python' engine -- configure with <B>engine=</B>

In [ ]:
import pandas as pd

fname = '../revenue_extended.csv'  # has extra headers, id field

df = pd.read_csv(fname)

DATAFRAME SERIES

<B>8.10:  View the 'company' column using subscript syntax (df['company']), and the same column using attribute syntax (df.company).  Print the type of this object.  </B>

In [ ]:
import pandas as pd

fname = '../revenue_extended.csv'  # has extra headers, id field

df = pd.read_csv(fname, skiprows=2,
                        skipfooter=2,
                        index_col='id',
                        engine='python')



df

<B>8.11:  View Series .name and .index.</B>

In [ ]:
import pandas as pd

fname = '../revenue_extended.csv'  # has extra headers, id field

df = pd.read_csv(fname, skiprows=2,
                        skipfooter=2,
                        index_col='id',
                        engine='python')

s = df.company



s

DATAFRAME SLICING

<B>8.12:  Slice rows using .loc[] and a list of labels.  Select just 'hd34', 'hp21' and 'tc77'.</B>

In [ ]:
import pandas as pd

fname = '../revenue_extended.csv'

df = pd.read_csv(fname, skiprows=2,
                        skipfooter=2,
                        index_col='id',
                        engine='python')



df

<B>8.13:  Slice rows using .loc[] and a range of labels.  Select 'ts06' through 'df8'.  </B>

In [ ]:
import pandas as pd

fname = '../revenue_extended.csv'

df = pd.read_csv(fname, skiprows=2,
                        skipfooter=2,
                        index_col='id',
                        engine='python')



df

<B>8.14:  Use <B>.loc[]</B> to slice columns and rows.  Select all rows but just the 'company' and 'revenue' columns (use ':' for the row selector).</B>

In [ ]:
import pandas as pd

fname = '../revenue_extended.csv'

df = pd.read_csv(fname, skiprows=2,
                        skipfooter=2,
                        index_col='id',
                        engine='python')



df

<B>8.15:  Review:  use <B>.iloc[]</B> indexing to select columns and rows.  Select a 2x2 grid of the DataFrame using indices.  </B>

In [ ]:
import pandas as pd

fname = '../weather_newyork.csv'

df = pd.read_csv(fname)



df

CONDITIONAL SLICING

<B>8.16:  Slice based on single condition.  Using <B>.loc[]</B> with a condition, look for all 'high' temps above 100, then try above 90.  </B>

In [ ]:
import pandas as pd

fname = '../weather_newyork_narrow.csv'

df = pd.read_csv(fname)



df

Then, add 2nd 'bucket' to <B>.loc[]</B> to select the 'high' an d 'precip' columns.

<B>8.17:  Slice based on dual condition.  Select for a 'high' of > 90 and a 'precip' of > 0.5.  Separate the tests with an <B>&</B> and put parentheses around each.  (This will uncover an anomaly that we'll solve next.)</B>

In [ ]:
import pandas as pd

fname = '../weather_newyork_narrow.csv'

df = pd.read_csv(fname)

hitemps = df.loc[ (df.high > 90) & (df.precip > 0.5) ]

hitemps

<B>8.18:  Use <B>.unique()</B>.  Apply to the 'precip' column to see if there are any anomalies in that column.  We'll use this information shortly.  </B>

In [ ]:
import pandas as pd

df = pd.read_csv('../weather_newyork_narrow.csv')



df

<B>8.19:  Use <B>.isin()</B> as a condition to <B>.loc[]</B>.  Select states 'NY' and 'NJ' from revenue.csv -- the argument to <B>.isin()</B> should be a list of values.</B>

In [ ]:
import pandas as pd

df = pd.read_csv('../revenue.csv')



df

<B>8.20:  <U>Reverse a test</U>.  Use <B>~</B> (the tilde character) to reverse the above test so that we show only rows that are NOT 'NY' or 'NJ'.  </B>

In [ ]:
import pandas as pd

df = pd.read_csv('../revenue.csv')

df2 = df.loc[ df.state.isin(['NY', 'NJ']) ]

df2

VECTORIZED OPERATIONS

<B>8.21:  Use a subscript to add a new column 'tax', set to 0.04</B>

In [ ]:
import pandas as pd


df = pd.read_csv('../revenue.csv')



df

<B>8.22:  <U>Vectorize column value</U>.  Add a new column 'tax amt', set to the 'revenue' value * 'tax' amount.  </B>

In [ ]:
import pandas as pd

df = pd.read_csv('../revenue.csv')

df['tax'] = 0.04



df

<B>8.23:  <U>Vectorizing with condition</U>.  Continuing the above solution, use <B>.loc[]</B> with a condition to set 'tax' to 0.0625 for all 'NJ' rows, then recalculate tax amount.  </B>

In [ ]:
import pandas as pd

df = pd.read_csv('../revenue.csv')

df['tax'] = 0.04

# your code here

df['tax amt'] = df.revenue * df.tax

df

<B>8.24:  <U>.replace() method</U>.  Returning to the 'precip' column, replace the non-numeric value we identified previously with 0.  Use vectorized condition as in previous, or the Series <B>.replace()</b> method.  </B>

In [ ]:
import pandas as pd

df = pd.read_csv('../weather_newyork_narrow.csv')



df

After replacing the value, run <B>.unique()</B> to see that the anomalous value is no longer there.

Next, bring this solution to the exercise that failed and try again...

...still no joy?  Wait until we can manipulate dtypes -- coming up.

<B>8.25:  <U>Vectorizing with function</U>.  Use <B>.apply[]</B> with a condition to create column 'revf' converting 'revenue' to a string with formatting.</B>

In [ ]:
def format(n):
    return f'${n:,.2f}'   # makes 2.3 into '$2.30'


import pandas as pd

df = pd.read_csv('../revenue.csv')



df

'SUMMARY' FUNCTION ON SERIES

<B>8.26:  <U>Use the <B>.sum()</B> method</U> to sum up the 'revenue' column.</B>

In [ ]:
import pandas as pd

df = pd.read_csv('../revenue.csv')



df

<B>8.27:  <U>Use the <B>.mean()</B> method.  Calculate the average of the 'revenue' column.</B>

In [ ]:
import pandas as pd

df = pd.read_csv('../revenue.csv')



df

<B>8.28:  <U>Use summary function with condition</U>.  Show the average of the 'revenue' column, but only for those rows with 'NY' in the 'state' column.  </B>

In [ ]:
import pandas as pd

df = pd.read_csv('../revenue.csv')



df

WORKING WITH DTYPES

<B>8.29:  <U>Set the dtype for a column</U>.  First, use <B>.dtypes</B> to show the column types; then replace the '-' values in the 'transactions' column with 0's.  Finally, set the column dtype to 'int'.  </B>

In [ ]:
import pandas as pd

df = pd.read_csv('../revenue_extended.csv', skiprows=2,
                                            skipfooter=2,
                                            engine='python')

df.dtypes



df

<B>8.30:  <U>use pd.to\_numeric</U>.  Change the 'a' and 'b' columns to a numeric type, and show dtypes afterwards.  </B>

In [ ]:
import pandas as pd

dol = {  'a': ['1', '2', '3'],
         'b': ['2.9', '3.5', '4.9'],
         'c': ['yourstr', 'mystr', 'theirstr']  }

df = pd.DataFrame(dol, index=['w', 'x', 'y'])

df.dtypes



df.dtypes

Now that we can 'cast' or change dtypes, return to the problematic exercise above and change the <B>.precip</B> column to numeric so we can complete the compound test.

MANIPULATING THE INDEX

<B>8.31:  Print the .index and .columns attributes on this DataFrame.  Then reorder the rows to 'a', 'b', 'c'</B>

In [ ]:
import pandas as pd


data = [
    [1, 2.5, 'apple'],
    [2, 3.0, 'banana'],
    [3, 4.2, 'orange']
]

df = pd.DataFrame(data, columns=['num', 'float', 'text'],
                        index=['c', 'b', 'a'])




df

<B>8.32:  Reading from <B>weather\_newyork.csv</B>, use <B>.reindex<B> with the argument <B>axis=1</B> to select the 'EST', 'Max TemperatureF' and 'Min TemperatureF' columns.  </B>

In [ ]:
import pandas as pd

df = pd.read_csv('../weather_newyork.csv')



df

<B>8.33:  Using <B>.rename()</B>, rename column labels: 'EST' -> 'date', 'Max TemperatureF' -> 'max\_temp' and 'Min TemperatureF' -> 'min\_temp'.  </B>

In [ ]:
import pandas as pd

df = pd.read_csv('../weather_newyork.csv')

dfs = df.reindex(['EST', 'Max TemperatureF', 'Min TemperatureF'], axis=1)



dfs

<B>8.34:  Reorder the columns on the DataFrame to 'float', 'num', and 'terxt' (deliberately misspell 'text') using .reindex().  Note that the 'terxt' column springs into existence with empty values.  </B>

In [ ]:
import pandas as pd

data = [
    [1, 2.5, 'apple'],
    [2, 3.0, 'banana'],
    [3, 4.2, 'orange']
]

df = pd.DataFrame(data, columns=['num', 'float', 'text'],
                        index=['c', 'b', 'a'])




df

<B>8.35:  Use <B>.set\_index()</B> to set the <B>id</B> column for the DataFrame as the index.   </B>

Next, use <B>.reset\_index()</B> to reset the index to the default (integers), while moving the index to a new column.  Lastly, add the <B>drop=True</B> parameter argument to drop the index entirely, and note that the old index has been dropped.

In [ ]:
import pandas as pd

fname = '../revenue_extended.csv'

df = pd.read_csv(fname, skiprows=2,
                        skipfooter=2,
                        engine='python')



df

SORTING

<B>8.36:  Read this csv, set the 'date' to the index column, and sort by index, with 'ascending=False'.  </B>

In [ ]:
import pandas as pd

fname = '../weather_newyork_narrow.csv'

df = pd.read_csv(fname



df

<B>8.37:  Use <B>.sort\_values()</B> to sort the DataFrame by the 'high' value.  Use <B>ascending=False</B> to reverse the sort.  </B>

In [ ]:
import pandas as pd

fname = '../weather_newyork_narrow.csv'

df = pd.read_csv(fname, index_col='date')



df

<B>8.38:  Use <B>axis=1</B> to <B>.sort\_index()</B> to sort the DataFrame by its columns.  </B>

In [ ]:
import pandas as pd

fname = '../revenue.csv'

df = pd.read_csv(fname)



df

CONCATENATING / APPENDING

<B>8.39:  First view, then concatenate the two DataFrames vertically.  </B>

In [ ]:
import pandas as pd

df = pd.DataFrame({ 'a': [1, 2, 3],
                    'b': [2.9, 3.5, 4.9],
                    'c': ['yourstr', 'mystr', 'theirstr']  },
                    index=['r1', 'r2', 'r3'])

df2 = pd.DataFrame({ 'b': [4, 5, 6],
                     'c': [7.8, 8.2, 9.1],
                     'd': ['thingy', 'thatty', 'flunky']  },
                     index=['r2', 'r3', 'r4'])

df
print()
df2

Note that the indices are repeated - this can be changed using index manipulation (<B>.rename()</B>, <B>.reindex()</B>, <B>.set\_index()</B>).

<B>8.40:  First view, then concatenate the two DataFrames horizontally (use <B>axis=1</B>.  </B>

In [ ]:
import pandas as pd

df = pd.DataFrame({ 'a': [1, 2, 3],
                    'b': [2.9, 3.5, 4.9],
                    'c': ['yourstr', 'mystr', 'theirstr']  },
                    index=['r1', 'r2', 'r3'])

df2 = pd.DataFrame({ 'd': ['xylo', 'yellow', 'zello'],
                     'e': [0, 0, 0],
                     'f': [1.1, 1.1, 1.2]  },
                     index=['r1', 'r2', 'r3'])

df
print()
df2
print()

MERGE / JOIN

<B>8.41:  View the two below DataFrames.  Then use <B>pd.merge()</B> to join the <B>student\_db\_grades.csv</B> and <B>student\_db\_names.csv</B> files into a single DataFrame, joining on the id (use <B>on='id'</B>).  Compare "how='outer'" (19 rows, including missing data at the end) to "how='inner'" (only 15 rows, with ids common to both tables) to effect an outer join.   </B>

In [ ]:
import pandas as pd

sgrades = pd.read_csv('../student_db_grades.csv', sep=':')
snames = pd.read_csv('../student_db_names.csv')

sgrades.head(2)
print('===')
snames.head(2)
print('===')

<B>8.42:  Reading the same files but setting the 'id' column to the indexes of each DataFrame, use <B>df.join()</B> (the same operation as <B>pd.merge()</B>) to perform the above joins.  </B>

In [ ]:
import pandas as pd

sgrades = pd.read_csv('../student_db_grades.csv', sep=':', index_col='id')
snames = pd.read_csv('../student_db_names.csv', index_col='id')

WORKING WITH MISSING DATA

<B>8.43:  Using the joined student tables, check to see if any null values can be found in the 'course' column.  </B>

In [ ]:
import pandas as pd

sgrades = pd.read_csv('../student_db_grades.csv', sep=':')
snames = pd.read_csv('../student_db_names.csv')

sj = pd.merge(sgrades, snames, on='id', how='outer')

sj


# see boolean column of whether missing or not - use .isnull()


# see whether there are any missing values - use any() with .isnull()


# select rows with missing data - use .isnull() as a condition to .loc[]

<B>8.44:  Open <B>df0.csv</B> and fill empty cells in just the 'a' column with 0.  Use <B>.fillna()</B> with <B>0</B>.  </B>

In [ ]:
import pandas as pd

df = pd.read_csv('../df0.csv', index_col=0)

df

<B>8.45:  Open <B>df0.csv</B> and drop empty rows; then drop empty columns.  Use <B>.dropna() and <B>.dropna()</B> with <B>axis=1</B></B>

In [ ]:
import pandas as pd

df = pd.read_csv('../df0.csv', index_col=0)

df

AGGREGATIONS WITH groupby()

<B>8.46:  Group the count of students by state.  Subscript to just show the <B>'id'</B> column.  Sort by value, descending (<B>ascending=False</B>)</B>

In [ ]:
import pandas as pd

df = pd.read_csv('../student_db_names.csv')

GROUP BY

Run this cell to view the <B>sales-funnel</B> spreadsheet again:

In [ ]:
import pandas as pd

df = pd.read_excel("../sales-funnel.xlsx")

df

<B>8.47:  <U><B>.groupby()</B>:  single-column aggregation</U>.  First, view the DataFrame.  Then use <B>.groupby()</B> to show sum of 'SaleAmount' grouped by 'SalesRep'.  </B>

In [ ]:
import pandas as pd

df = pd.read_excel("../sales-funnel.xlsx")

<B>8.48:  <U><B>.groupby()</B>:  dual-column aggregation</U>.  Use <B>.groupby()</B> to show sum of 'SaleAmount' grouped by 'SalesRep' and by 'Product'.  </B>

In [ ]:
import pandas as pd

df = pd.read_excel("../sales-funnel.xlsx")

PIVOT TABLE

Please run this cell to view the <B>sales-funnel</B> spreadsheet again:

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_excel("../sales-funnel.xlsx")

df

<B>8.49:  <U><B>pd.pivot\_table()</B>:  single-column aggregation</U>.  First, view the DataFrame above.  Slice the DataFrame for just the <B>'SalesRep'</B> and <B>'SaleAmount'</B> columns.  Then use <B>pd.pivot\_table(df)</B> to aggregate by 'SalesRep', using the <B>index=</B> parameter.  </B>

In [ ]:
import pandas as pd

df = pd.read_excel("../sales-funnel.xlsx")

dfpt = pd.pivot_table(df[['SalesRep', 'SaleAmount']], index='SalesRep')

dfpt

The default summary method is average (i.e., <B>.mean()</B>)

<B>8.50:  <U><B>pd.pivot\_table()</B> specifying a summary function</U>.  Perform the same pivot as previous, but use the <B>aggfunc=</B> parameter to specify a sum (use <B>'sum'</B>).  </B>

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_excel("../sales-funnel.xlsx")

dfpt = pd.pivot_table(df, index='SalesRep',
                          aggfunc='sum')

dfpt

<B>8.51:  <U><B>pd.pivot\_table()</B>:  dual-column aggregation</U>.  Perform the same pivot as previous, but group by by both 'SalesRep' and 'Product'.  </B>

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_excel("../sales-funnel.xlsx")

dfpt = pd.pivot_table(df, index=['SalesRep', 'Product'],
                          aggfunc='sum')

dfpt

<B>8.52:  <U><B>pd.pivot\_table()</B>:  further agg by secondary value</U>.  Perform the above pivot on just 'SalesRep', but use <B>columns=</B> with a list to show the results broken down by 'Product'.  </B>

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_excel("../sales-funnel.xlsx")

dfpt = pd.pivot_table(df, index='SalesRep',
                          aggfunc='sum',
                          values=['SaleAmount', 'Quantity'],
                          columns='Product')

dfpt

MULTIINDEX

Please begin by noting the multi-level index that is produced by the below multi-column aggregation.

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_excel("../sales-funnel.xlsx")

table = pd.pivot_table(df, index=['Manager', 'SalesRep'],
                           aggfunc='sum')

table

<B>8.53:  <U><B>MultiIndex</B>:  slicing at top level</U>.  Slice the multi-index to show just 'Account' and 'Quantity', and just for Manager 'Debra Henley'.  </B>

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_excel("../sales-funnel.xlsx")

table = pd.pivot_table(df, index=['Manager', 'SalesRep'],
                           aggfunc='sum')

table.loc['Debra Henley', ['Account', 'Quantity']]

<B>8.54:  <U><B>MultiIndex</B>:  slicing at 2nd level</U>.  Use a 2-item tuple (first-level label, second-level label) to slice for just 'Debra Henley' at the first level and 'Craig Booker' at the 2nd level.  </B>

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_excel("../sales-funnel.xlsx")

table = pd.pivot_table(df, index=['Manager', 'SalesRep'],
                           aggfunc='sum')

table.loc[('Debra Henley', 'Craig Booker')]

<B>8.55:  <U><B>MultiIndex</B>:  "cross section" slicing</U>.  Use the <B>.xs()</B> method with <B>level=1</B> to show rows just for 'Craig Booker'.  </B>

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_excel("../sales-funnel.xlsx")

table = pd.pivot_table(df, index=['Manager', 'SalesRep'],
                           aggfunc='sum')

txs = table.xs('Craig Booker', level=1)

txs

<B>8.56:  <U><B>MultiIndex</B>:  use <B>.query('Manager == "Debra Henley"')</B> to select rows</U>.  </B>

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_excel("../sales-funnel.xlsx")

table = pd.pivot_table(df, index=['Manager', 'SalesRep'],
                           aggfunc='sum')

table.query("Manager == 'Debra Henley'")

# table.query("Manager == 'Debra Henley' and SalesRep == 'Craig Booker'")

# table.query("SalesRep in ['Craig Booker', 'Daniel Hilton']")

<B>8.57:  <U><B>MultiIndex</B>:  First review the below DataFrame; then use <B>.query('Status in ["pending", "won"]')</B> to select rows</U>.  </B>

In [ ]:
import pandas as pd

df = pd.read_excel("../sales-funnel.xlsx")

dfq = df.query('Status in ["pending", "won"]')

dfq

<B>8.58:  <U><B>MultiIndex</B>:  use <B>.loc[]</B> with a 1- or 2-item tuple to select rows</U>.  Keep in mind that a 1-item tuple must have a comma after the item, for example <B>('Manager',)</B></B>

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_excel("../sales-funnel.xlsx")

table = pd.pivot_table(df, index=['Manager', 'SalesRep'],
                           aggfunc='sum')

table.loc[('Fred Anderson', 'Wendy Yule')]

TIMESERIES

<B>8.59:  <U>Create a <B>pd.Timestamp()</B> object by passing any string that represents a date</U>.  Print the object's type and value.  </B>

In [ ]:
import pandas as pd

ts = pd.Timestamp()

print(type(ts))
print(ts)

<B>8.60:  <U>Create a <B>pd.Timedelta</B> interval object</U> for one day (use the <B>days=1</B> argument).  Add it to the <B>Timestamp</B> object to produce a new Timestamp object with the advanced date.  Print the object to see the new date.  </B>

In [ ]:
import pandas as pd

ts = pd.Timestamp('3/3/2020')

td = pd.Timedelta()

ts2 = ts + td
print(ts2)

<B>8.61:  <U>Create a <B>pd.Timedelta</B> interval object</U> by subtracting one date from another.  Print the object's value and its type.  </B>

In [ ]:
import pandas as pd

ts1 = pd.Timestamp('3/3/2020')
ts2 = pd.Timestamp('3/5/2020')

<B>8.62:  <U>Generate a date range</U>.  Use the <B>pd.date\_range()</B> function with a start date, end date and <B>freq=</B> parameter indicating the frequency of dates ('D' for day, 'M' for end of month, 'MS' for start of month, 'B' for business day, etc.)  Print the object to see its contents and type.  </B>

In [ ]:
import pandas as pd

dr = pd.date_range()

print(dr)

<B>8.63:  <U>Converting a DataFrame column/index to <B>Timestamp</B></U>.  View the below dataframe and note the date column EST.  Use <B>pd.to\_datetime()</B> or <B>.astype()</B> method to convert the 'EST' series to 'datetime64[ns]', then use <B>.set\_index()</B> with the column name and <B>drop=True</B> to set the column as the index.  Check the dtype of the index.  </B>

In [ ]:
import pandas as pd

df = pd.read_csv('../weather_newyork.csv')



df

If your dtype shows as '&lt;M8[ns]' it means that the date is 'timezone-aware'; if it shows as 'datetime64[ns]' it signifies 'timezone-naive' (meaning it is not aware of any timezone).  Since timezone-aware timestamps know their timezone, they can be compared with other timezone-aware dates to do calculations and comparisons between timestamps.

<B>8.64:  <U>Select rows based on partial date</U>.  Given the below DataFrame, select rows <I>with a straight subscript</I> for the following:  </B>

<UL>
  <LI>single date (put the date in any format)</LI>
  <LI>single year-month (for example, '2016-03')</LI>
  <LI>single year</LI>
  <LI>date range as a slice (for example, '2016-03-03': '2016-05-02')
</UL>

In [ ]:
import pandas as pd

df = pd.read_csv('../weather_newyork_2016_2018.csv')

df.EST = pd.to_datetime(df.EST)

df = df.set_index('EST', drop=True)



# some dates for slicing:
# '2017-03-01
# '2016-05
# '2016
# '2017-12-28': '2018-01-03