# In-Class Exercises, Session 4

MATCHING

<B>4.1:  <U>Match a simple character pattern</U>.  </B>

Search for 'Velas', then try 'Benter' and 'Acme'.

In [ ]:
import re

lines = [
  'Acme Corporation is heded by CEO Joseph Benter, and ',
  'President Maria Velas.  Mr. Benter focuses on R&D ',
  'while Ms. Velas provides vision and major deals for ',
  'Acme.  ']

for line in lines:
    if re.search(r'', line):
        print(line)

<U>Expected Output</U> (for <B>Velas</B>):

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">President Maria Velas.  Mr. Benter focuses on R&D
while Ms. Velas provides vision and major deals for</DIV></pre>

<B>4.2:  <U>'not' to negate a search</U>.  Execute previous pattern with 'not' in front of <B>re.search()</B></B>

In [ ]:
import re

lines = [
  'Acme Corporation is heded by CEO Joseph Benter, and ',
  'President Maria Velas.  Mr. Benter focuses on R&D ',
  'while Ms. Velas provides vision and major deals for ',
  'Acme.  ']

for line in lines:
    if re.search(r'Benter', line):
        print(line)

<U>Expected Output</U> (for <B>Benter</B>):

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">while Ms. Velas provides vision and major deals for
Acme.</DIV></pre>

ANCHORS

<B>4.3:  <U>Anchors - start of string</U>.  </B>

Print only those lines that have 'TEL' at the start:

In [ ]:
import re

for text_line in ['AURORA HOTEL',
                  'OPEN12:00 AM - 11:59 PM',
                  '14200 E ALAMEDA AVE AURORA, CO 80012',
                  'TEL (303) 344-9901']:
    if re.search(r'', text_line):
        print(text_line)

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">TEL (303) 344-9901</DIV></pre>

<B>4.4:  <U>Anchors - end of string</U>.  </B>

Print only those files that end in .jpg

In [ ]:
import re

filenames = ['image.jpg', 'image.png', 'filejpg.txt', 'file2.doc',
             'file3.pdf', 'image2.gif', 'image3.jpg', 'image4.jpg']

for name in filenames:
    if re.search(r'', name):
        print(name)

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">image.jpg
image3.jpg
image4.jpg</DIV></pre>

BUILT-IN CHARACTER CLASSES

<B>4.5:  <U>"Digit" character class</U>.   </B>

Match on each string that has a digit.

In [ ]:
import re

match_strings = [
    'hello world 00',
    'goodbye world    ',
    ' 23 bonjour',
    'wilkommen23  ',
    'aloha',
    '99',
    '00',
    '88557799',
    'Que 3 Tal!',
    'myfile.jpg',
    'yourfile.JPG'
]

count = 0
for string in match_strings:
    if re.search(r'', string):
        print(string)
        count += 1
print(f'count:  {count}')

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">hello world 00
 23 bonjour
wilkommen23
99
00
88557799
Que 3 Tal!
count: 7</DIV></pre>

<B>4.6:  <U>"Word" character class</U>.  </B>

Match each string that has a letter, number or underscore.

In [ ]:
import re

match_strings = [
    'hello world 00',
    'goodbye world    ',
    ' 23 bonjour',
    'wilkommen23  ',
    'aloha',
    '99',
    '00',
    '88557799',
    'Que 3 Tal!',
    'myfile.jpg',
    'yourfile.JPG'
]

count = 0
for string in match_strings:
    if re.search(r'', string):
        print(string)
        count += 1
print(f'count:  {count}')

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px"></DIV></pre>

<B>4.7:  <U>"Space" character class</U>.  </B>

Match on each line that has a space.

In [ ]:
import re

match_strings = [
    'hello world 00',
    'goodbye world    ',
    ' 23 bonjour',
    'wilkommen23  ',
    'aloha',
    '99',
    '00',
    '88557799',
    'Que 3 Tal!',
    'myfile.jpg',
    'yourfile.JPG'
]

count = 0
for string in match_strings:
    if re.search(r'', string):
        print(string)
        count += 1
print(f'count:  {count}')

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px"></DIV></pre>

INVERSE CHARACTER CLASSES

<B>4.8:  <U>"Not a digit" character class</U>.  </B>

Match on each string that has a character that is not a digit.

In [ ]:
import re

match_strings = [
    'hello world 00',
    'goodbye world    ',
    ' 23 bonjour',
    'wilkommen23  ',
    'aloha',
    '99',
    '00',
    '88557799',
    'Que 3 Tal!',
    'myfile.jpg',
    'yourfile.JPG'
]

count = 0
for string in match_strings:
    if re.search(r'', string):
        print(string)
        count += 1
print(f'count:  {count}')

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">hello world 00
goodbye world
 23 bonjour
wilkommen23
aloha
Que 3 Tal!
myfile.jpg
yourfile.JPG
count: 8</DIV></pre>

<B>4.9:  <U>"Not a space" character class</U>.  </B>

Match on each string that has any non-spaces.

In [ ]:
import re

match_strings = [
    'hello world 00',
    'goodbye world    ',
    ' 23 bonjour',
    'wilkommen23  ',
    '    ',
    'aloha',
    '99',
    '00',
    '88557799',
    'Que 3 Tal!',
    'myfile.jpg',
    'yourfile.JPG'
]

count = 0
for string in match_strings:
    if re.search(r'', string):
        print(string)
        count += 1
print(f'count:  {count}')

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">hello world 00
goodbye world
 23 bonjour
wilkommen23
aloha
99
00
88557799
Que 3 Tal!
myfile.jpg
yourfile.JPG
count: 11</DIV></pre>

CUSTOM CHARACTER CLASSES

<B>4.10:  <U>Custom character class</U>.  </B>

Match on each string that has a capital letter in it.

In [ ]:
import re

match_strings = [
    'hello world 00',
    'goodbye world    ',
    ' 23 bonjour',
    'wilkommen23  ',
    'aloha',
    '99',
    '00',
    '88557799',
    'Que 3 Tal!',
    'myfile.jpg',
    'yourfile.JPG'
]

count = 0
for string in match_strings:
    if re.search(r'', string):
        print(string)
        count += 1
print(f'count:  {count}')

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">Que 3 Tal!
yourfile.JPG
count: 2</DIV></pre>

<B>4.11:  <U>Using custom character class with built-in character class</U>.  </B>

Match on each string that has a letter followed by a number.

In [ ]:
import re

match_strings = [
    'hello world 00',
    'goodbye world    ',
    ' 23 bonjour',
    'wilkommen23  ',
    'aloha',
    '99',
    '00',
    '88557799',
    'Que 3 Tal!',
    'myfile.jpg',
    'yourfile.JPG'
]

count = 0
for string in match_strings:
    if re.search(r'', string):
        print(string)
        count += 1
print(f'count:  {count}')

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">wilkommen23
count: 1</DIV></pre>

INVERSE CUSTOM CHARACTER CLASSES

<B>4.12:  <U>Inverse Custom Character Class</U>. Match on each string that has any character that is not a letter.</B>

In [ ]:
import re

match_strings = [
    'hello world 00',
    'goodbye world    ',
    ' 23 bonjour',
    'wilkommen23  ',
    'aloha',
    '99',
    '00',
    '88557799',
    'Que 3 Tal!',
    'myfile.jpg',
    'yourfile.JPG'
]

count = 0
for string in match_strings:
    if re.search(r'', string):
        print(string)
        count += 1
print(f'count:  {count}')

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">hello world 00
goodbye world
 23 bonjour
wilkommen23
99
00
88557799
Que 3 Tal!
myfile.jpg
yourfile.JPG
count: 10</DIV></pre>

THE WILDCARD

<B>4.13:  Match on each string that ends with a character that is not a digit.</B>

In [ ]:
import re

match_strings = [
    'hello world 00',
    'goodbye world    ',
    ' 23 bonjour',
    'wilkommen23  ',
    'aloha',
    '99',
    '00',
    '88557799',
    'Que 3 Tal!',
    'myfile.jpg',
    'yourfile.JPG'
]

count = 0
for string in match_strings:
    if re.search(r'', string):
        print(string)
        count += 1
print(f'count:  {count}')

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">goodbye world
 23 bonjour
wilkommen23
aloha
Que 3 Tal!
myfile.jpg
yourfile.JPG
count: 7</DIV></pre>

<B>4.14:  <U>Demo:  match on any character</U>. </B>

Use the wildcard (., a period) to see which strings match it.

In [ ]:
import re

match_strings = [
    'hello world 00',
    'goodbye world    ',
    ' 23 bonjour',
    'wilkommen23  ',
    'aloha',
    '99',
    '00',
    '88557799',
    'Que 3 Tal!',
    'myfile.jpg',
    'yourfile.JPG'
]

count = 0
for string in match_strings:
    if re.search(r'', string):
        print(string)
        count += 1
print(f'count:  {count}')

LAB 1

<div style="background-color: #ccffcc; padding: 10px; border: 2px solid green"><B>4.15:  Match on each string that starts with a digit.   </B></div>

In [ ]:
import re

match_strings = [
    'hello world 00',
    'goodbye world    ',
    ' 23 bonjour',
    'wilkommen23  ',
    'aloha',
    '99',
    '00',
    '88557799',
    'Que 3 Tal!',
    'myfile.jpg',
    'yourfile.JPG'
]

count = 0
for string in match_strings:
    if re.search(r'', string):
        print(string)
        count += 1
print(f'count:  {count}')

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">99
00
88557799
count: 3</DIV></pre>

<div style="background-color: #ccffcc; padding: 10px; border: 2px solid green"><B>4.16:  Match on each string that starts with a space.  </B></div>

In [ ]:
import re

lines = [  'this is the first line,',
           ' and this is the second line and',
           ' this is the third line.  '     ]

for line in lines:
    if re.search(r'', line):
        print(line)

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px"> and this is the second line and',
 this is the third line.  '     ]</DIV></pre>

<div style="background-color: #ccffcc; padding: 10px; border: 2px solid green"><B>4.17:  Loop through and print only lines with some text (not including spaces).  </B></div>

In [ ]:
import re

text = """line 1
line 2,

line 3...

line4!"""

lines = text.splitlines()

for line in lines:
    if re.search(r'', line):
        print(line)

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">line 1
line 2,
line 3...
line4!</DIV></pre>

<div style="background-color: #ccffcc; padding: 10px; border: 2px solid green"><B>4.18:  Match on each string that ends with a digit.</B></div>

In [ ]:
import re

match_strings = [
    'hello world 00',
    'goodbye world    ',
    ' 23 bonjour',
    'wilkommen23  ',
    'aloha',
    '99',
    '00',
    '88557799',
    'Que 3 Tal!',
    'myfile.jpg',
    'yourfile.JPG'
]

count = 0
for string in match_strings:
    if re.search(r'', string):
        print(string)
        count += 1
print(f'count:  {count}')

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">hello world 00
99
00
88557799
count: 4</DIV></pre>

<div style="background-color: #ccffcc; padding: 10px; border: 2px solid green"><B>4.19:  Match on each line that ends with a space.</B></div>

In [ ]:
import re

lines = [  'this is the first line, ',
           'this is the second line and',
           'this is the third line.  '     ]

for line in lines:
    if re.search(r'', line):
        print(line)

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">this is the first line,
this is the third line.</DIV></pre>

<div style="background-color: #ccffcc; padding: 10px; border: 2px solid green"><B>4.20:  Match on each string that consists only of a 2-digit number.</B></div>

In [ ]:
import re

match_strings = [
    'hello world 00',
    'goodbye world    ',
    ' 23 bonjour',
    'wilkommen23  ',
    'aloha',
    '99',
    '00',
    '88557799',
    'Que 3 Tal!',
    'myfile.jpg',
    'yourfile.JPG'
]

count = 0
for string in match_strings:
    if re.search(r'', string):
        print(string)
        count += 1
print(f'count:  {count}')

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">99
00
count: 2</DIV></pre>

<div style="background-color: #ccffcc; padding: 10px; border: 2px solid green"><B>4.21:  Match on a capital letter followed by a lowercase letter.  </B></div>

In [ ]:
import re

match_strings = [
    'hello world 00',
    'goodbye world    ',
    ' 23 bonjour',
    'wilkommen23  ',
    'aloha',
    '99',
    '00',
    '88557799',
    'Que 3 Tal!',
    'myfile.jpg',
    'yourfile.JPG'
]

count = 0
for string in match_strings:
    if re.search(r'', string):
        print(string)
        count += 1
print(f'count:  {count}')

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">Que 3 Tal!</DIV></pre>

<div style="background-color: #ccffcc; padding: 10px; border: 2px solid green"><B>4.22:  Match on files with date format YYYY-MM-DD followed by '.txt'.  </B></div>

In [ ]:
import re

dirlist = ('.', '..', '2010-12-15.txt', '2010-12-16.txt',
           'testfile.txt', '20101-11-03.txt')

for item in dirlist:
    if re.search(r'', item):
        print(item)

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">2010-12-15.txt
2010-12-16.txt</DIV></pre>

<div style="background-color: #ccffcc; padding: 10px; border: 2px solid green"><B>4.23:  Match on date format MM/DD/YY (and not 4-digit year).  </B></div>

In [ ]:
import re

dates = ['Jan. 3, 2018', '23-Mar-17', '12/02/98', '12/03/1998', '23.17.2018']
for date in dates:
    if re.search(r'', date):
        print(date)

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">12/02/98</DIV></pre>

<div style="background-color: #ccffcc; padding: 10px; border: 2px solid green"><B>4.24:  Determine whether selected word begins with a vowel.  If so, prepend an 'an' rather an an 'a'.  </B></div>

In [ ]:
import re

words = ['apple', 'pear', 'orange', 'kiwi', 'elderberry', 'carrot', 'ugli fruit']
for word in words:
    if re.search(r'', word):
        prepend = 'an'
    else:
        prepend = 'a'
    print(f"{prepend} {word}")

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">an apple
a pear
an orange
a kiwi
an elderberry
a carrot
an ugli fruit</DIV></pre>

BUILT-IN QUANTIFIERS

<B>4.25:  <U>"One or more" quantifier</U>.  Match on each string that has one or more letters in it.</B>

In [ ]:
import re

match_strings = [
    'hello world 00',
    'goodbye world    ',
    ' 23 bonjour',
    'wilkommen23  ',
    'aloha',
    '99',
    '00',
    '88557799',
    'Que 3 Tal!',
    'myfile.jpg',
    'yourfile.JPG'
]

count = 0
for string in match_strings:
    if re.search(r'', string):
        print(string)
        count += 1
print(f'count:  {count}')

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">hello world 00
goodbye world
 23 bonjour
wilkommen23
aloha
Que 3 Tal!
myfile.jpg
yourfile.JPG
count: 8</DIV></pre>

<B>4.26:  <U>"Zero or one" quantifier</U>.  </B>

Without using a character class (or grouped alternates), use a single regex that matches on each string that has 'a' or 'an' followed by a space.

In [ ]:
import re

lines = [
    'This is a wonderful thing. ',
    "I haven't seen anything like it. ",
    "Isn't it an exceptional experience? "]

for line in lines:
    if re.search(r'', line):
        print(line)

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">This is a wonderful thing.
Isn't it an exceptional experience?</DIV></pre>

<B>4.27:  <U>"Zero or more" quantifier, quantifiers with anchor</U>.  </B>

Match on all strings that consist only of a 1 followed by zero or more digits.

In [ ]:
import re

numbers = [
  '100',
  '135',
  '31',
  '1',
  'I think',
]

for val in numbers:
    if re.search(r'', val):
        print(val)

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">100
135
1</DIV></pre>

<B>4.28:  <U>Quantifiers with Anchor</U>.  Match on each string that consists only of one or more digit characters.</B>

In [ ]:
import re

match_strings = [
    'hello world 00',
    'goodbye world    ',
    ' 23 bonjour',
    'wilkommen23  ',
    'aloha',
    '99',
    '00',
    '88557799',
    'Que 3 Tal!',
    'myfile.jpg',
    'yourfile.JPG'
]

count = 0
for string in match_strings:
    if re.search(r'', string):
        print(string)
        count += 1
print(f'count:  {count}')

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">99
00
88557799
count: 3</DIV></pre>

<B>4.29:  <U>Quantifiers with Anchor (3)</U>.  Match on each string that consists only of letters.</B>

In [ ]:
import re

match_strings = [
    'hello world 00',
    'goodbye world    ',
    ' 23 bonjour',
    'wilkommen23  ',
    'aloha',
    '99',
    '00',
    '88557799',
    'Que 3 Tal!',
    'myfile.jpg',
    'yourfile.JPG'
]

count = 0
for string in match_strings:
    if re.search(r'', string):
        print(string)
        count += 1
print(f'count:  {count}')

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">aloha
count: 1</DIV></pre>

<B>4.30:  <U>Quantifiers with custom character class</U>.  </B>

Match each string that has a capital letter followed by one or more lowercase letters.

In [ ]:
import re

match_strings = [
    'hello World 00',
    'goodbye C world    ',
    ' 23 bonjour',
    'wilkommen23  ',
    'Aloha',
    '99',
    '00',
    '88557799',
    'Que 3 Tal!',
    'myfile.jpg',
    'yourfile.JPG'
]

count = 0
for string in match_strings:
    if re.search(r'', string):
        print(string)
        count += 1
print(f'count:  {count}')

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">hello World 00
Aloha
Que 3 Tal!
count: 3</DIV></pre>

<B>4.31:  <U>Quantifiers with anchors</U>.  Match on each string that consists only of letters, numbers or the underscore.</B>

In [ ]:
import re

match_strings = [
    'hello world 00',
    'goodbye world    ',
    ' 23 bonjour',
    'wilkommen23  ',
    'aloha',
    '99',
    '00',
    '88557799',
    'Que 3 Tal!',
    'myfile.jpg',
    'yourfile.JPG'
]

count = 0
for string in match_strings:
    if re.search(r'', string):
        print(string)
        count += 1
print(f'count:  {count}')

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">aloha
99
00
88557799
count: 4</DIV></pre>

<B>4.32:  <U>Quantifiers with anchors (2)</U>.  Match on each string that consists only of non-digits.</B>

In [ ]:
import re

match_strings = [
    'hello world 00',
    'goodbye world    ',
    ' 23 bonjour',
    'wilkommen23  ',
    'aloha',
    '99',
    '00',
    '88557799',
    'Que 3 Tal!',
    'myfile.jpg',
    'yourfile.JPG'
]

count = 0
for string in match_strings:
    if re.search(r'', string):
        print(string)
        count += 1
print(f'count:  {count}')

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">goodbye world
aloha
myfile.jpg
yourfile.JPG
count: 4</DIV></pre>

<B>4.33:  <U>Quantifiers with anchors (3)</U>.  Match on each string that consists only of non-spaces.</B>

In [ ]:
import re

match_strings = [
    'hello world 00',
    'goodbye world    ',
    ' 23 bonjour',
    'wilkommen23  ',
    'aloha',
    '99',
    '00',
    '88557799',
    'Que 3 Tal!',
    'myfile.jpg',
    'yourfile.JPG'
]

count = 0
for string in match_strings:
    if re.search(r'', string):
        print(string)
        count += 1
print(f'count:  {count}')

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">aloha
99
00
88557799
myfile.jpg
yourfile.JPG
count: 6</DIV></pre>

CUSTOM QUANTIFIERS

<B>4.34:  <U>Custom quantifier</U>.  </B>

Match on each string that has two or more spaces at the end.

In [ ]:
import re

match_strings = [
    'hello world 00',
    'goodbye world    ',
    ' 23 bonjour',
    'wilkommen23  ',
    'aloha',
    '99',
    '00',
    '88557799',
    'Que 3 Tal!',
    'myfile.jpg',
    'yourfile.JPG'
]

count = 0
for string in match_strings:
    if re.search(r'', string):
        print(string)
        count += 1
print(f'count:  {count}')

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">goodbye world
wilkommen23
count: 2</DIV></pre>

<B>4.35:  <U>Custom quantifier</U>.  </B>

Match on strings that have a capital letter followed by two or more lowercase letters.

In [ ]:
import re

match_strings = [
    'hello World 00',
    'goodbye As world    ',
    'To 23 bonjour',
    'wilkommen23  ',
    'Aloha',
    '99',
    '00',
    '88557799',
    'Que 3 Tal!',
    'myfile.jpg',
    'yourfile.JPG'
]

count = 0
for string in match_strings:
    if re.search(r'', string):
        print(string)
        count += 1
print(f'count:  {count}')

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">hello World 00
Aloha
Que 3 Tal!
count: 3</DIV></pre>

<B>4.36:  <U>Custom quantifier</U>.  </B>

Print those numbers that are in the millions (i.e., 7 or more digits).

In [ ]:
import re

nums = [
  '1',
  '10',
  '100',
  '1000',
  '10000',
  '100000',
  '1000000',
  '10000000'
]

for num in nums:
    if re.search(r'', num):
        print(num)

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">1000000
10000000</DIV></pre>

<B>4.37:  <U>Custom quantifier</U>.  Having split the text into words, show those words that are greater than 7 characters in size.  </B>

In [ ]:
import re

text = """This is the 1000th story, regarding a duck
named Quack.  It was unlikely that Quack could have been
given a name like that by his mother, so we can only conclude
that he was named by the author, who has a cuteness problem."""


words = text.split()
stripped = [ word.rstrip('.,') for word in words ]

for word in stripped:
    if re.search(r'', word):
        print(word)

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">regarding
unlikely
conclude
cuteness
problem</DIV></pre>

<B>4.38:  <U>Custom Quantifier</U>.  </B>

A password must be 3-8 characters in length (letters, numbers and underscores are permitted).  Validate the below password attempts.

In [ ]:
import re

attempts = [
    '1234',
    'hello_there',
    'password',
    'ok',
    'what?',
    'supercalifrag']

for password in attempts:
    if re.search(r'', password):
        print(f'{password}:  validated')

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">1234:  validated
password:  validated</DIV></pre>

ESCAPING SPECIAL CHARACTERS

<B>4.39:  <U>Escape wildcard (aka period)</U>.  Match on each string that has a letter, number or underscore followed by a period.</B>

In [ ]:
import re

match_strings = [
    'hello world 00',
    'goodbye world    ',
    ' 23 bonjour',
    'wilkommen23  ',
    'aloha',
    '99',
    '00',
    '88557799',
    'Que 3 Tal!',
    'myfile.jpg',
    'yourfile.JPG'
]

count = 0
for string in match_strings:
    if re.search(r'', string):
        print(string)
        count += 1
print(f'count:  {count}')

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">myfile.jpg
yourfile.JPG
count: 2</DIV></pre>

Note:  why would this work without escaping the period?  Because

<B>4.40:  <U>Escape end anchor (aka dollar sign)</U>.  </B>

Match on strings that have a dollar amount, including two decimal places ($23.53).

In [ ]:
import re

lines = [
    'The coat cost $239.50.',
    'The candy cost $1.93',
    "I didn't buy anything today.",
    '$1 sale',
    'I dream of $$$'
]

for line in lines:
    if re.search(r'', line):
        print(line)

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">The coat cost $239.50.
The candy cost $1.93</DIV></pre>

<B>4.41:  <U>Escape quantifier character +</U>.  </B>

Match on all lines with positive numbers.

In [ ]:
import re

numbers = [
    'Amount:  -23.9',
    'Amount:  +43.8',
    'Amount:  -9.03',
    'Amount:  +99.9',
    'Amount:  +22.0'
]
for num in numbers:
    if re.search(r'', num):
        print(num)

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">Amount:  +43.8
Amount:  +99.9
Amount:  +22.0</DIV></pre>

<B>4.42:  <U>Escape quantifier character *</U>.  </B>

Match on all lines with asterisked footnotes.

In [ ]:
import re

numbers = [
    'As Ibid* said,',
    'there should be no greater good ',
    'than compassion*, love, ',
    'mutual benefit*',
    'and the profit-making motive.',
]
for num in numbers:
    if re.search(r'', num):
        print(num)

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">As Ibid* said,
than compasssion*, love,
mutual benefit*</DIV></pre>

LAB 2

<div style="background-color: #ccffcc; padding: 10px; border: 2px solid green"><B>4.43:  Match on each string that has one or more "word" characters, followed by one or more spaces, followed by one or more "word" characters.</B></div>

In [ ]:
import re

match_strings = [
    'hello world 00',
    'goodbye world    ',
    ' 23 bonjour',
    'wilkommen23  ',
    'aloha',
    '99',
    '00',
    '88557799',
    'Que 3 Tal!',
    'myfile.jpg',
    'yourfile.JPG'
]

count = 0
for string in match_strings:
    if re.search(r'', string):
        print(string)
        count += 1
print(f'count:  {count}')

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">hello world 00
goodbye world
 23 bonjour
Que 3 Tal!
count: 4</DIV></pre>

<div style="background-color: #ccffcc; padding: 10px; border: 2px solid green"><B>4.44:  Ignore comment lines:  print only those lines that don't start with a comment (the first non-space character is a hash mark).  </B></div>

In [ ]:
import re

text = """
# this is a program to do stuff
a = 5
b = 10              # an int
if True:
    # multiply them
    c = a * b
"""

for line in text.splitlines():
    if not re.search(r'', line):
        print(line)

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">a = 5
b = 10              # an int
if True:
    c = a * b</DIV></pre>

<div style="background-color: #ccffcc; padding: 10px; border: 2px solid green"><B>4.45:  Match those lines that contain a 7-digit hex number (a-fA-F0-9).  </B></div>

In [ ]:
import re

lines = [
    'The color code is #ABF2307.',
    'Mr. Mxyzptlk is 999 years old today.',
    'The memory address is fc9d223.'
]

for line in lines:
    if re.search(r'', line):
        print(line)

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">The color code is #ABF2307.
The memory address is fc9d223.</DIV></pre>

<div style="background-color: #ccffcc; padding: 10px; border: 2px solid green"><B>4.46:  Show those lines that contain two capitalized words (as in a name).  </B></div>

In [ ]:
import re

lines = [
    'The owner is Gwen Harstridge.',
    "There aren't a lot of stores like this one.",
    'Paris is not a lot like Rome.',
    'I hail from Los Angeles, California.'
]

for line in lines:
    if re.search(r'', line):
        print(line)

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">    The owner is Gwen Harstridge.
    I hail from Los Angeles, California.</DIV></pre>

re.IGNORECASE

<div style="background-color: #ccffcc; padding: 10px; border: 2px solid green"><B>4.47:  Without using a character class, match on each string that ends in .jpg or .JPG (try this another way).</B></div>

(hint: use the flag argument (the optional 3rd argument) to re.search())

In [ ]:
import re

match_strings = [
    'hello world 00',
    'goodbye world    ',
    ' 23 bonjour',
    'wilkommen23  ',
    'aloha',
    '99',
    '00',
    '88557799',
    'Que 3 Tal!',
    'myfile.jpg',
    'yourfile.JPG'
]

count = 0
for string in match_strings:
    if re.search(r'', string):
        print(string)
        count += 1
print(f'count:  {count}')

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">myfile.jpg
yourfile.JPG
count: 2</DIV></pre>

<div style="background-color: #ccffcc; padding: 10px; border: 2px solid green"><B>4.48:  Print only those files that start with 'image#' ('image' plus a <I>possible</I> number) and end in any of these image extensions:  '.jpg', '.png', '.gif'</B></div>

In [ ]:
import re

filenames = ['image2.jpg', 'image.png', 'file.txt', 'file2.doc',
             'file3.pdf', 'image2.gif', 'image3.jpg', 'image4.jpg',
             'advert.jpg', 'advert.png']

for name in filenames:
    if re.search(r'', name):
        print(name)

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">image2.jpg
image.png
image2.gif
image3.jpg
image4.jpg</DIV></pre>

<div style="background-color: #ccffcc; padding: 10px; border: 2px solid green"><B>4.49:  Match on each string that ends in .jpg or .JPG</B></div>

In [ ]:
import re

match_strings = [
    'hello world 00',
    'goodbye world    ',
    ' 23 bonjour',
    'wilkommen23  ',
    'aloha',
    '99',
    '00',
    '88557799',
    'Que 3 Tal!',
    'myfile.jpg',
    'yourfile.JPG'
]

count = 0
for string in match_strings:
    if re.search(r'', string):
        print(string)
        count += 1
print(f'count:  {count}')

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">myfile.jpg
yourfile.JPG
count: 2</DIV></pre>

GROUPING FOR QUANTIFYING and ALTERNATES

<B>4.50:  <U>Quantifying a group</U>.  Match on a number with two decimal places and possible thousandths separator (3.95, 3,200.95, etc.)</B>

First create a pattern that is 1 or more digits with comma separator (i.e. matching on <B>0,</B>, </B>00,</B> <B>000,</B>) and group the number with parentheses; quantify the group to say that there is zero or more of these, followed by one or more digits, a period and 2 digits.  (Do not use a custom character class for this purpose.)

In [ ]:
import re

values = ['23.9', '18.2', '23.95', '2,238,000.00', '15,382.92', 'joe', '6.05']  # list of str
for value in values:
    matchobj = re.search(r'', value)
    if matchobj:
        print(value)

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">23.95
2,238,000.00
15,382.92</DIV></pre>

Note that if you see the message <B>AttributeError: 'NoneType' object has no attribute 'group'</B>, this means that the search did not find a match and returned <B>None</B>, and the code attempted to call <B>.group()</B> on <B>None</B>.  Check the string and pattern to determine why it did not match.

<B>4.51:  <U>Quantifying a Group (2)</U>.  Write a single regex that matches on q, Q, quit, Quit, QUIT.  Do this without a character class and without the alternate vertical bar.  </B>

In [ ]:
import re

x = input('Do you want to quit? ')     # str, 'QuIt' (sample input)

if re.search(r'', x):
    print("you're quitting!")
else:
    print("you failed to quit.")

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">Do you want to quit? QuIt
you're quitting!</DIV></pre>

GROUPING FOR EXTRACTION

<B>4.52:  <U>Group for extraction</U>.  </B>

Use a parenthetical grouping to extract the number from this text.

In [ ]:
import re

line = '34:  this is a line of text'

matchobj = re.search(r'', line)
print(matchobj.group(1))

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">34</DIV></pre>

Note that if you see the message <B>AttributeError: 'NoneType' object has no attribute 'group'</B>, this means that the search did not find a match and returned <B>None</B>, and the code attempted to call <B>.group()</B> on <B>None</B>.  Check the string and pattern to determine why it did not match.

<B>4.53:  <U>Group for extraction</U>.  Extract the Catalog ID and Publication Date from the text line.</B>

In [ ]:
import re

rs_row = 'Catalog ID: 2839-587    Pub. Date: 2019-09-03'

matchobj = re.search(r'', rs_row)

if matchobj:
    print(matchobj.group(1))
    print(matchobj.group(2))

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">2839-587
2019-09-03</DIV></pre>

Note that if you see the message <B>AttributeError: 'NoneType' object has no attribute 'group'</B>, this means that the search did not find a match and returned <B>None</B>, and the code attempted to call <B>.group()</B> on <B>None</B>.  Check the string and pattern to determine why it did not match.

<B>4.54:  <U>Group for extraction</U>.  In one regex match, extract the IP address from this log line.</B>

In [ ]:
import re

line = '172.26.93.208 - - [28/Jun/2012:21:00:17 -0400] "GET /~cmk380/pythondata/image2b.txt HTTP/1.1" 200 30'

matchobj = re.search(r'', line)

if matchobj:
    print(matchobj.group(1))

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">172.26.93.208</DIV></pre>

Note that if you see the message <B>AttributeError: 'NoneType' object has no attribute 'group'</B>, this means that the search did not find a match and returned <B>None</B>, and the code attempted to call <B>.group()</B> on <B>None</B>.  Check the string and pattern to determine why it did not match.

'MINIMAL MATCH' QUANTIFIER

<B>4.55:  <U>Demonstration:  "minimal" match</U>.  </B>

The below regex grabs the word <B>Python</B> from the text.  Run the code once to observe this.

Now add a question mark <B>?</B> as the character directly after the "one or more" plus sign and run again - you should see that the "one or more word characters" pattern is now matching on as few characters as possible.

In [ ]:
import re

text = 'My language is Python'

matchobj = re.search(r'', text)

print(matchobj.group(1))

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">P</DIV></pre>

Note that if you see the message <B>AttributeError: 'NoneType' object has no attribute 'group'</B>, this means that the search did not find a match and returned <B>None</B>, and the code attempted to call <B>.group()</B> on <B>None</B>.  Check the string and pattern to determine why it did not match.

<B>4.56:  <U>Work with wildcard and minimal match</U>.  </B>

Use the wildcard to match everything between the first two brackets.  Note carefully what was printed.  (Don't forget that square brackets must be escaped with a backslash, and that extraction requires grouping parentheses.)

In [ ]:
import re

text = 'Discussion of terms <TO COME> after something <PLEASE REVIEW>.'

matchobj = re.search(r'', text)

print(matchobj.group(1))

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">TO COME</DIV></pre>

Note that if you see the message <B>AttributeError: 'NoneType' object has no attribute 'group'</B>, this means that the search did not find a match and returned <B>None</B>, and the code attempted to call <B>.group()</B> on <B>None</B>.  Check the string and pattern to determine why it did not match.

<B>4.57:  <U>Match on non-search character</U>.  </B>

Perform the same extraction on the below text by searching for a bracket followed by one or more non-brackets.  Text extracted should be the same.

In [ ]:
import re

text = 'Discussion of terms <TO COME> after something <PLEASE REVIEW>.'

matchobj = re.search(r'', text)

print(matchobj.group(1))

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">TO COME</DIV></pre>

Note that if you see the message <B>AttributeError: 'NoneType' object has no attribute 'group'</B>, this means that the search did not find a match and returned <B>None</B>, and the code attempted to call <B>.group()</B> on <B>None</B>.  Check the string and pattern to determine why it did not match.

GROUPING with .groups()

<B>4.58:  <U>Retrieve a grouping with <B>.groups()</B></U>.  </B>

In one regex match, extract the status code and bytes downloaded (last 2 integers on the line) from this log line.  Call <B>.groups()</B> the match object to reveal the extracted values.

In [ ]:
import re

line = '172.26.93.208 - - [28/Jun/2012:21:00:17 -0400] "GET /~cmk380/pythondata/image2b.txt HTTP/1.1" 200 30'

matchobj = re.search(r'', line)

if matchobj:
    print(matchobj.groups())

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">('200', '30')</DIV></pre>

Note that if you see the message <B>AttributeError: 'NoneType' object has no attribute 'group'</B>, this means that the search did not find a match and returned <B>None</B>, and the code attempted to call <B>.group()</B> on <B>None</B>.  Check the string and pattern to determine why it did not match.

<B>4.59:  <U>Retrieve a grouping with <B>.groups()</B></U>.  </B>

Extract city, state zip from line.

In [ ]:
import re

line = 'Los Angeles, CA  91604'
matchobj = re.search(r'', line)
print(matchobj.groups())

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">('Los Angeles', 'CA', '91604')</DIV></pre>

Note that if you see the message <B>AttributeError: 'NoneType' object has no attribute 'group'</B>, this means that the search did not find a match and returned <B>None</B>, and the code attempted to call <B>.group()</B> on <B>None</B>.  Check the string and pattern to determine why it did not match.

<B>4.60:  <U>Quantify for an optional group</U>.  </B>

Pull out all the info about each person (Favorite Color may not be there).

In [ ]:
import re

results = [ 'Name: Joe;  Favorite Color:  Blue;  Employee ID: 2395',
            'Name:  Marie;  Employee ID: 2321',
            'Name:  Teneski; Favorite Color: Green;  Employee ID:  1913' ]

for row in results:
    matchobj = re.search(r'', row)
    print(matchobj.groups())

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">('Joe', 'Favorite Color:  Blue;  ', 'Blue', '2395')
('Marie', None, None, '2321')
('Teneski', 'Favorite Color: Green;  ', 'Green', '1913')</DIV></pre>

Note that if you see the message <B>AttributeError: 'NoneType' object has no attribute 'group'</B>, this means that the search did not find a match and returned <B>None</B>, and the code attempted to call <B>.group()</B> on <B>None</B>.  Check the string and pattern to determine why it did not match.

findall() FOR MULTIPLE MATCHES

<B>4.61:  <U>Group and extract with <B>findall()</B></U>.  </B>

Extract email addresses only for nyu.edu.

In [ ]:
import re

text = """There are many ways to contact us.  Use the
general email contact@nyu.edu, or email our public
liason at help@nyu.edu.  If you need tech support you
can reach us at askits@nyu.edu.
Author:  Joe Wilson joe@wilson.com"""

emails = re.findall(r'', text)
print(emails)

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">['contact@nyu.edu', 'help@nyu.edu', 'askits@nyu.edu']</DIV></pre>

re.sub() FOR SUBSTITUTIONS

<B>4.62:  <U>Regex substitution</U>.  Replace space-separated with comma separated</B>

In [ ]:
import re

args = 'this that   other  and  some  other'
args2 = re.sub(r'', ",", args)
print(args2)

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">this,that,other,and,some,other</DIV></pre>

re.split() FOR PATTERN-BASED DELIMITERS

<B>4.63:  <U>Regex split</U>.  Split the user-input comma-separated values string into separate digit values.  </B>

In [ ]:
import re

ui = '23, 14, 7,3,9'
numbers = re.split(r'', ui)
print(numbers)

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">['23', '14', '7', '3', '9']</DIV></pre>

<B>4.64:  <U>DOTALL wildcard match</U>.  </B>

Extract everything between <B>=code start=</B> and <B>= code end =</B>.  Use the <B>re.DOTALL</B> switch to use the wildcard (<B>.</B>) to match on a newline.

In [ ]:
import re

text = """Title of This Text

This is some description...

=code start=
a = 5
b = 5.0
if a == b:
    print('yes')
=code end=

This is some discussion...
"""

matchobj = re.search(r'', text)

print(matchobj.group(1))

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">a = 5
b = 5.0
if a == b:
    print('yes')</DIV></pre>

<B>4.65:  <U>Multiline anchors</U>.  </B>

Use <B>findall()</B> to extra numbers from only the start of each line of the text.  Use <B>re.MULTILINE</B> to allow the carrot (<B>^</B>) to match at the start of any line.

In [ ]:
import re

text = """Title of This Text

23 we want to grab some 99 numbers
12 but not others, 17 and then some
5  so we just get 1 the ones
on the left side

93 and me and 23 too

"""

matches = re.findall(r'', text)

print(matches)

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">['23', '12', '5', '93']</DIV></pre>